#geral{
  display: flex;
  align-items: stretch;
  height: 100vh;
}

.conteudo{
  background:#5f6362 ;
  flex: 15;

  padding: 0 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80%;
  align-items: stretch;
  text-align: center;
  }
.logo-canto{
  flex: 3;
  background: #51ec14c0;
  color: #FFF;
max-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  padding: 120px 80px;
}
.App {
  text-align: center;
  }

p{
color: #47d3b0;
font-family: 'Tourney', cursive;
max-width: 100%;
font-weight:  bold;
}
@media (prefers-reduced-motion: no-preference) {
  .agenda {
    animation:hue-rotate 6s linear infinite
  }
}
img{
  max-width: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
  border: #1C1C1C;
  }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    animation:hue-rotate 6s linear infinite
  }
}

.App-header {
  background-color: #fa7f72;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes hue-rotate{
  0%{filter:hue-rotate(0)}to{filter:hue-rotate(-360deg)}}

