.logo-canto{
max-width: 15%;
max-height: 20%;
}
.App {
  text-align: center;
    
}

p{
color: #7B68EE;
font-family: 'Tourney', cursive;
font-size: 700;
max-width: 100%;
}
img{
  max-width: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
  border: #1C1C1C;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFF0F5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
